In [4]:
!python3 -m pip install pandas numpy

Collecting pandas
  Downloading pandas-1.5.3-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 37.7 MB/s eta 0:00:0000:010:01
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/rrice/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 15.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2022.7.1

In [5]:
import pandas as pd
import numpy as mp

In [15]:
june_2022 = pd.read_csv('./data/2022_06.csv')
june_2022.drop(['VehicleName', 'route', 'pattern', 'PatternName', 'stop', 'trip', 'tripName', 'block'], axis = 1)
june_2022.head()

,vehicle,VehicleName,route,RouteName,pattern,PatternName,stop,StopName,trip,tripName,...,block,arrive,scheduled_arrive,depart,scheduled_depart,ons,offs,arrival_passengers,departure_passengers,vehicle_capacity
0,5714,180,4533,5 Yellow,12746,5 Emerald via S. Duff,5104148,South Duff Avenue at Airport Road Northbound,3444550,5025.0,...,307404,2022-05-31 18:59:59.0000000 -05:00,2022-05-31 18:58:35.0000000 -05:00,2022-05-31 19:00:02.0000000 -05:00,2022-05-31 18:58:35.0000000 -05:00,0,0,0,0,60
1,5699,105,4530,2 Green West,12987,2 Ontario / California,5103007,Hyland Avenue at Forest Hills Drive Northbound,3444424,2069.0,...,307398,2022-05-31 18:59:59.0000000 -05:00,2022-05-31 18:56:50.0000000 -05:00,2022-05-31 19:00:03.0000000 -05:00,2022-05-31 18:56:50.0000000 -05:00,0,0,3,3,60
2,5744,189,4528,1 Red West,12983,1 Ames Middle School,5102300,Lincoln Way at Franklin Avenue Westbound,3444342,1069.0,...,307394,2022-05-31 18:59:31.0000000 -05:00,2022-05-31 18:57:20.0000000 -05:00,2022-05-31 19:00:03.0000000 -05:00,2022-05-31 18:57:20.0000000 -05:00,0,1,16,15,60
3,5738,429,4540,14 Peach,12756,14 Campus via 24th,5108210,24th Street at Northcrest Drive Eastbound,3444719,14019.0,...,307415,2022-05-31 18:59:57.0000000 -05:00,2022-05-31 18:55:25.0000000 -05:00,2022-05-31 19:00:09.0000000 -05:00,2022-05-31 18:55:25.0000000 -05:00,0,0,0,0,65
4,5693,183,4528,1 Red West,12983,1 Ames Middle School,5102268,North Grand Mall,3444324,1001.0,...,307394,2022-06-01 06:20:27.0000000 -05:00,2022-06-01 06:22:00.0000000 -05:00,2022-06-01 06:22:43.0000000 -05:00,2022-06-01 06:22:00.0000000 -05:00,1,0,0,1,60